<!DOCTYPE HTML>
<html>

<th:block th:replace="~{/layout/layout :: layout( ~{:: .wrap1})}">

        
    <div class="wrap1">
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
				
				<div class="wrap_detail1">
						 <div class="smallImage" >
	                        <div class="imgWrap">
	                            <div class="imgArea">
	                                <img th:src="@{../display(filePath=${imagevo.filePath}, fileName=${imagevo.fileName}, uuid=${imagevo.uuid})}" alt="사진이 들어가는곳" style="width: 400px; height: 500px;">
	                            </div>
	                        </div>
	                    </div>
                        <div class="productInfo">
							</div>
    

                           <table class="board_basic_view2">
								<input type="hidden" name="product_no" th:value="${vo.product_no}">
								 	
                                    <tr>
                                        <th>카테고리</th>

                                        <td colspan="5">
                                            <div>
                                            [[${vo.category_nav}]]
                                            
											</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>품명</th>
                                        <td>[[${vo.product_name}]]</td>
                                    </tr>
                                    <tr>
                                        <th>판매가</th>
                                        <td>[[${vo.product_price}]]</td>
                                    </tr>
                                     <tr>
                                        <th>구매수량</th>
                                        <td colspan="3"><input type="quantity" class="inputw150" name="####"
                                                value="" placeholder="숫자로 입력">개</td>
                                    </tr>
							</table>
							<div>
							<button><a th:href="@{/order/order(product_no=${vo.product_no})}">바로구매</a></button>
                    			<form action="/cart/getUserCartList" method="post">
	                              <input type="hidden" name="product_no" th:value="${vo.product_no}">
	                              <input type="hidden" name="boxcount" value="1">
	                              <input type="hidden" name="product_price" th:value="${vo.product_price}">
	                              <input type="hidden" name="user_id" th:value="${session.userVO.userId}">
	                              <input type="hidden" name="category_id" th:value="${vo.category_no}">
	                              <input type="hidden" name="product_name" th:value="${vo.product_name}">
	                              <button type="submit">장바구니 추가</button>
	                          </form>
							</div>
                    	</div>
				</div>
				
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
    <!-- wrap end -->

</th:block>

</html>