<!DOCTYPE HTML>
<html>

<th:block th:replace="~{/layout/layout :: layout( ~{:: .wrap1})}">

        
    <div class="wrap1">
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
				
				<div class="wrap_detail1">
						 <div class="smallImage" >
	                        <div class="imgWrap">
	                            <div class="imgArea">
	                                <img src="../img/3.jpg">
	                            </div>
	                        </div>
	                    </div>
                        <div class="productInfo">
							</div>
    

                           <table class="board_basic_view2">
								<input type="hidden" name="product_no" th:value="${vo.product_no}">
								 	
                                    <tr>
                                        <th>카테고리</th>

                                        <td colspan="5">
                                            <div>
                                            [[${vo.category_nav}]]
                                            
											</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>품명</th>
                                        <td>[[${vo.product_name}]]</td>
                                    </tr>
                                    <tr>
                                        <th>판매가</th>
                                        <td>[[${vo.product_price}]]</td>
                                    </tr>
                                     <tr>
                                        <th>구매수량</th>
                                        <td colspan="3"><input type="quantity" class="inputw150" name="####"
                                                value="" placeholder="숫자로 입력">개</td>
                                    </tr>
							</table>
							<div>
							<input type="button" value="구매" id="buyBtn">
                    		<input type="button" value="장바구니" id="cartBtn">
							</div>
                    	</div>
				</div>
				
                <div class="midiaq1">
                    
                    <form name="####" action="####" method="####">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                                                     
                                    <span class=""></span>
                                    <ul>
                                        <li>
                                            <table class="board_basic_view">
                                                <tbody>
                                                    <tr>
														<th>상품번호</th>
														<td><input type="hidden" name="product_no" th:value="${vo.product_no}"></td>
													</tr>
                                                    <tr>
                                                        <th>품명</th>
                                                        <td>화이트 저지</td>
                                                    </tr>
                                                    <tr>
                                                        <th>카테고리</th>

                                                        <td colspan="5">
                                                            <div>
                                                            대분류 > 중분류 > 소분류
															</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        판매가
                                                        <td>20000</td>
                                                    </tr>
                                                     <tr>
                                                        <th>구매수량</th>
                                                        <td colspan="3"><input type="number" class="inputw150" name="####"
                                                                value="" placeholder="숫자로 입력">개</td>
                                                    </tr>
                                           
                                            	<!--    
												    <tr>
                                                        
                                                        <td colspan="3">
                                                            미리보기 폼
                                                            <div class="blockContent">
                                                                <div class="productText"></div>
                                                                <div class="">
                                                                    <div class="imgItem">
                                                                        
                                                                        <div class="imgWrap">
                                                                            <div class="imgArea">
                                                                                <img src="../img/item_main.jpg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="imgItem">
                                                                        
                                                                        <div class="imgWrap">
                                                                            <div class="imgArea">
                                                                                <img src="../img/item_banner.jpg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="imgItem">
                                                                        
                                                                        <div class="imgWrap">
                                                                            <div class="imgArea">
                                                                                <img src="../img/item_banner.jpg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="imgItem">
                                                                        
                                                                        <div class="imgWrap">
                                                                            <div class="imgArea">
                                                                                <img src="../img/item_banner.jpg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    -->
                                                   
                                                    <tr>
                                                        <th>상품설명</th>
                                                        <td colspan="5">
                                                            <div>상품설명
                                                            </div>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <th>정보</th>
                                                        <td colspan="5">
                                                            <div>
                                                               

                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="btn_area1">
                                                <a href="#" class="save" id="buyBtn">구매</a>
                                                <a href="#" class="revise" id="cartBtn">장바구니</a>
                                            </div>

                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
    <!-- wrap end -->

</th:block>

</html>