<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layout :: setContent( ~{:: .wrap})}">
<body>





	<div class="wrap">
		<div class="warp_inner">

			<!-- left_menu end -->
			<div class="right_content">
				<div class="midiaq">
					<div class="page_title">TI</div>

					<form name="###########" action="############" method="get" >
					<div class="search_block flfull">

						<div class="fl">
							<div>
								<span class="search_th">상품이름 검색</span>
								<input type="text" class="" placeholder="상품 검색">
							</div>
							
							<!--<div>
								<span class="search_th">상품내용 검색</span>
								<input type="text" class="" placeholder="상품 검색">
							</div>-->
							
	<!--						<div>
								<span class="search_th">판매가 정렬</span>
								<select class="" name="">
									<option value="">정렬방식</option>
									<option value="">가격 낮은순</option>
									<option value="">가격 높은순</option>
									<option value="">판매량 순</option>
									<option value="">높은순</option>

								</select>
							</div>-->
						</div>

						<div class="fr">
							<div class="search_btn_area">
								<a href="#" class="normal_btn purplebtn">검색</a>
							</div>
						</div>
					</div>

					<div class="full_collum collum">
						<ul>
							<li class="collum_tit">
								<span>판매량 순</span>
								<span>최신 등록순</span>
								<span>가격 낮은순</span>
								<span>가격 높은순</span>

								<select class="">
									<option value="20">20개 보기</option>
									<option value="30">30개 보기</option>
									<option value="40">40개 보기</option>
									<option value="50">50개 보기</option>
								</select>
								<span class="showtoggle minus"></span>
								<ul>
									<li>
										<div class="showproduct">
											
											<ul class="imagelist">
												<li>
													<img src="/img/1.jpg">
													<p>이름</p>
													<p>가격</p>
												</li>
												<li><img src="/img/2.jpg">이미지</li>
												<li><img src="/img/3.jpg">이미지2</li>
												<li><img src="/img/4.jpg">이미지3</li>
												<li><img src="/img/5.jpg">이미지4</li>
											</ul>
											<ul class="imagelist">
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
											</ul>
											<ul class="imagelist">
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
											</ul>
											<ul class="imagelist">
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
												<li><img src="#">이미지1</li>
											</ul>
							
																				
										</div>


										<div class="page">
											<ul>
												<li><a href="#"><i class="fa fa-angle-double-left"
															aria-hidden="true"></i></a></li>
												<li style="margin-right:5px;"><a href="#"><i class="fa fa-angle-left"
															aria-hidden="true"></i></a></li>
												<li class="on"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
												<li style="margin-left:5px;"><a href="#"><i class="fa fa-angle-right"
															aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-angle-double-right"
															aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</li>

								</ul>
							</li>
						</ul>
					</div>
					</form>

				</div>
			</div>
		</div>

			</div>
		</div>
	</div><!-- end wrap -->
	



</body>

</html>