<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layout :: setContent( ~{:: .wrap})}">





	<div class="wrap">
		<div class="warp_inner">

			<!-- left_menu end -->
			<div class="right_content">
				<div class="midiaq">
					<div class="page_title">TI</div>

					<form name="searchForm" action="productpage" method="get" >
					
					<input type="hidden" name="page" value="1">	
					<input type="hidden" name="amount" th:value="${pageVO.amount}">	
					<div class="search_block flfull">

						<div class="fl">
							<div>
								<span class="search_th">상품이름 검색</span>
								<input type="text" class="" placeholder="상품 검색" name="searchName" th:value="${pageVO.cri.searchName}">
							
							</div>
							
							<!--<div>
								<span class="search_th"> 검색</span>
								<input type="text" class="" placeholder="상품 검색">
							</div>-->
							
							<div>
								<span class="search_th">판매가 정렬</span>
								<select class="" name="">
									<option value="none" >정렬방식</option>
									<option value="asc" name="searchLowPrice" th:selected="${pageVO.cri.searchLowPrice == 'asc'}">가격 낮은순</option>
									<option value="desc" name="searchHighPrice" th:selected="${pageVO.cri.searchHighPrice == 'desc'}">가격 높은순</option>
									<option value="desc" name="searchSold" th:selected="${pageVO.cri.searchSold == 'desc'}">판매량 순</option>
									<option value="desc" name="searchNewItem" th:selected="${pageVO.cri.searchNewItem == 'desc'}">신상품 순</option>

								</select>
							</div>
						</div>

						<div class="fr">
							<div class="search_btn_area">
								<a href="#" class="normal_btn purplebtn" id="searchBtn">검색</a>
							</div>
						</div>
					</div>

					<div class="full_collum collum">
						<ul>
							<!--	<li>
								<a href="#"></a>
								<a href="#"><span>신상품 순</span></a>
								<a href="#"><span>낮은가격 순</span></a>
								<a href="#"><span>높은가격 순</span></a>
							</li>-->
							
							<li class="collum_tit">
								<!--<span><a href="#" th:style="${'color:white'}" name="searchSold" th:value="${pageVO.cri.searchSold}">판매량 순</a></span>
								<span><a href="#" th:style="${'color:white'}" name="searchNewItem" th:value="${pageVO.cri.searchNewItem}">신상품 순</a></span>
								<span><a href="#" th:style="${'color:white'}" name="searchLowPrice" th:value="${pageVO.cri.searchLowPrice}">낮은가격 순</a></span>
								<span><a href="#" th:style="${'color:white'}" name="searchHighPrice" th:value="${pageVO.cri.searchHighPrice}">높은가격 순</a></span>-->
								
								
								<select class="" onchange="handleChange()">
									<option value="20" th:selected="${pageVO.amount == 20}">20개 보기</option>
									<option value="30" th:selected="${pageVO.amount == 30}">30개 보기</option>
									<option value="40" th:selected="${pageVO.amount == 40}">40개 보기</option>
									<option value="50" th:selected="${pageVO.amount == 50}">50개 보기</option>
								</select>
								<span class="showtoggle minus"></span>
								<ul>
									<li>
										<div class="showproduct">
											
											<ul class="imagelist">
												<li th:each="vo, status : ${list}" id="detailBtn">
													<div class="detailProduct">
														<img src="/img/1.jpg">
														<p>[[${vo.product_name}]]</p>
														<p>[[${vo.product_price}]]</p>
														<p>[[${vo.product_soldcount}]]</p>
														<input type="hidden" th:value="${vo.product_no}" >
														<a th:href="@{/product/productDetail(product_no=${vo.product_no})}"
													</div>
												</li>
											</ul>						
										</div>


								<!--		<div class="page">
											<ul>
												<li><a href="#"><i class="fa fa-angle-double-left"
															aria-hidden="true"></i></a></li>
												<li style="margin-right:5px;"><a href="#"><i class="fa fa-angle-left"
															aria-hidden="true"></i></a></li>
												<li class="on"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
												<li style="margin-left:5px;"><a href="#"><i class="fa fa-angle-right"
															aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-angle-double-right"
															aria-hidden="true"></i></a></li>
											</ul>
										</div>-->
										
										<th:block th:replace="~{./layout/page :: pageNation( ${pageVO})}"></th:block>
										
									</li>

								</ul>
							</li>
						</ul>
					</div>
					</form>

				</div>
			</div>
		</div>

			</div>
		</div>
	</div><!-- end wrap -->
</th:block>	


<script th:inline="javascript">
		
	$(".detailProduct").click(function() {
		;
	})
		
	function handleChange() {
		document.searchForm.amount.value = event.target.value;
		document.searchForm.submit();
	}
	
	var searchBtn = document.getElementById("searchBtn");
	searchBtn.onclick = function() {
		
		event.preventDefault(); //a 중지
		document.searchForm.submit();
	}
	
</script>

</html>