<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/adminDetail.css">

<th:block th:replace="~{./layout/layout :: layout(~{ :: #wrap})}">


	<div id="wrap">
		<div id="container">
			<form action="#" method="post" id="detailForm">
				<div class="topArea">
					<div class="titleArea">
						<div class="titleLeft">
							<p>상품이름</p>
						</div>
						<div class="titleRight">
							<input type="text" name="product_no" hidden th:value="${vo.product_no}">
							<input type="text" name="product_name" th:value="${vo.product_name}">
						</div>
					</div>

					<div class="imageArea">
						<div class="imageLeft">
							<p>상품이미지</p>
						</div>
						<div class="imageRight">
							<img th:src="@{../display(filePath=${imagevo.filePath}, fileName=${imagevo.fileName}, uuid=${imagevo.uuid})}" alt="사진이 들어가는곳" style="width: 200px; height: 150px;">
						</div>
					</div>

					<div class="infoArea">
						<table class="infoTable">
							<tr class="tableHeader">
								<td>가격</td>
								<td>재고</td>
								<td>판매량</td>
							</tr>
							<tr>
								<td><input type="text" name="product_price" th:value="${vo.product_price}"></td>
								<td><input type="text" name="product_stock" th:value="${vo.product_stock}"></td>
								<td><input type="text" name="product_soldcount" th:value="${vo.product_soldcount}" readonly></td>
							</tr>
						</table>
					</div>

					<div class="descriptionArea">
						<div class="descriptionLeft">
							<p>상품설명</p>
						</div>
						<div class="descriptionRight">
							<input type="text" name="product_description" th:value="${vo.product_description}"
								style="display: block; height: 200px;">
						</div>

					</div>
				</div>
				<div class="lowArea">
					<div class="buttonArea">
						<button type="submit" class="modifyBtn btn">수정</button>
						<button type="submit" class="deleteBtn btn">삭제</button>
					</div>

				</div>
			</form>

		</div>

	</div>


</th:block>

<script th:inline="javascript">
	
	$(".modifyBtn").click(function(){
		$("#detailForm").attr("action", "modifyForm");
	})
	
	$(".deleteBtn").click(function(){
		$("#detailForm").attr("action", "deleteForm");
	})
	
</script>