<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../css/adminMain.css">

<th:block th:replace="~{./layout/layout :: layout(~{ :: #wrap})}">



	<div id="wrap">

		<div class="contentArea">
			<div class="upperArea">
				<div class="infoArea">
					<p>정보가 나올 부분</p>
				</div>
				<div class="myArea">
					<a class="registBtn" th:href="@{adminRegist}">상품 등록</a>
				</div>
			</div>

			<div class="productArea">
				<div class="productContainer">
					<table class="productTable">
						<tr style="line-height: 30px;">
							<td>상품정보</td>
							<td>등록일</td>
							<td>카테고리</td>
							<td>가격</td>
							<td>판매량</td>
						</tr>

						<tr th:each="vo : ${list}" class="products">
							<td>
								<a th:href="@{adminDetail(product_no=${vo.product_no})}">
									<div style="float: left; width: 50%;">
										<span>[[${vo.product_name}]]</span>
									</div>
									<div style="float: right; width: 50%;">
										<th:block th:each="imagevo : ${imageList}">
											<th:block th:if="${imagevo.product_no == vo.product_no}">
												<img th:src="@{../display(filePath=${imagevo.filePath}, fileName=${imagevo.fileName}, uuid=${imagevo.uuid})}"
													alt="이미지가 들어갈 곳" style="width: 100px; height: 100px;">
											</th:block>
										</th:block>
									</div>
								</a>
							</td>
							<td>[[${#temporals.format( vo.product_regdate, 'yyyy년 MM월 dd일' )}]]</td>
							<td>[[${vo.CATEGORY_NAV}]]</td>
							<td>[[${vo.product_price}]] 원</td>
							<td>[[${vo.product_soldcount}]]</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pagenation">
				<th:block th:replace="~{./pagenation :: pageNation(${pageVO})}"></th:block>
			</div>
		</div>
	</div>


</th:block>

<script th:inline="javascript">


</script>


</body>