<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pageNation(pageVO)">
	
			<div class="page">
				<ul>
					<!-- 가장 첫 페이지-->
					<li>
						<a th:href="@{productpage(page=1,
												  amount=${pageVO.amount},
												  searchName=${pageVO.cri.searchName},
												  searchLowPrice=${pageVO.cri.searchLowPrice},
												  searchHighPrice=${pageVO.cri.searchHighPrice},
												  searchPrice=${pageVO.cri.searchPrice},
												  searchSold=${pageVO.cri.searchSold},
												  searchNewItem=${pageVO.cri.searchNewItem}
												  )}">
												  <i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
					
					
					
					
					<!--2. 이전버튼-->
					<th:block th:if="${pageVO.prev}">
					<li style="margin-right:5px;">
						<a th:href="@{productpage(page=${pageVO.start - 1},
												  amount=${pageVO.amount},
												  searchLowPrice=${pageVO.cri.searchLowPrice},
												  searchHighPrice=${pageVO.cri.searchHighPrice},
												  searchPrice=${pageVO.cri.searchPrice},
												  searchSold=${pageVO.cri.searchSold},
												  searchNewItem=${pageVO.cri.searchNewItem}
												  )}">
												  <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
					</th:block>
				
					<!-- 1. 페이지 반복 -->
					<th:block th:each="page : ${pageVO.pageList}">
						
					<li th:class="${page == pageVO.page ? 'on' : ''}">
						<a th:href="@{productpage(page=${page},
									  			  amount=${pageVO.amount},
									  			  searchLowPrice=${pageVO.cri.searchLowPrice},
												  searchHighPrice=${pageVO.cri.searchHighPrice},
												  searchPrice=${pageVO.cri.searchPrice},
												  searchSold=${pageVO.cri.searchSold},
												  searchNewItem=${pageVO.cri.searchNewItem}
									  			  )}">[[${page}]]</a></li>
					</th:block>	
				
					<!--3. 다음버튼-->
					<th:block th:if="${pageVO.next}">
					<li style="margin-left:5px;">
						<a th:href="@{productpage(page=${pageVO.end + 1},
											   amount=${pageVO.amount},
											   searchLowPrice=${pageVO.cri.searchLowPrice},
											   searchHighPrice=${pageVO.cri.searchHighPrice},
											   searchPrice=${pageVO.cri.searchPrice},
											   searchSold=${pageVO.cri.searchSold},
											   searchNewItem=${pageVO.cri.searchNewItem}
											   )}">
											   <i class="fa fa-angle-right"	aria-hidden="true"></i></a></li>
					</th:block>	
					
					
					
					
					<!-- 가장 긑 페이지 한번에 이동-->
					<li>
						<a th:href="@{productpage(page=${pageVO.realEnd},
											   	  amount=${pageVO.amount},
											   	  searchLowPrice=${pageVO.cri.searchLowPrice},
												  searchHighPrice=${pageVO.cri.searchHighPrice},
												  searchPrice=${pageVO.cri.searchPrice},
												  searchSold=${pageVO.cri.searchSold},
												  searchNewItem=${pageVO.cri.searchNewItem}
											   )}">
											   <i class="fa fa-angle-double-right"	aria-hidden="true"></i></a></li>
						
					
				</ul>
			</div>
	
</th:block>