<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
	<h3>로그인성공</h3>
	<h3 th:text="${session.userVO.userName}+'님 안녕하세요'"></h3>
	<h3 th:text="${session.userVO.userId}"></h3>
	<button id="logoutBtn"><a>로그아웃</a></button>
	<form action="modifyForm" method="post">
		<input type="hidden" name="userId" th:value="${session.userVO.userId}">
		<input type="hidden" name="userName" th:value="${session.userVO.userName}">
		<input type="hidden" name="userPhone" th:value="${session.userVO.userPhone}">
		<input type="hidden" name="userAddress" th:value="${session.userVO.userAddress}">
		<button type="submit" id="modifyBtn">정보수정하기</button>
	</form>
	<button><a th:href="@{/cart/cartlist(user_id=${session.userVO.userId})}">장바구니 목록</a></button>
	
	<button id="orderlist"><a th:href="@{/order/orderlist(user_id=${session.userVO.userId})}">주문내역</a></button>
	<form action="deleteForm" method="post">
		<input type="hidden" name="userId" th:value="${session.userVO.userId}">
		<button type="submit">회원탈퇴</button>
	</form>
</body>

<script th:inline="javascript">
	var msg = '[[${msg}]]';
	
	if(msg.trim() != 'null') {
		alert(msg);
	}
	
</script>

<script>

	var logoutBtn = document.getElementById("logoutBtn");

	//로그아웃	

	$("#logoutBtn").click(function(){ 
        $.ajax({
            type:"POST",
            url:"logout",
            success:function(data){        
                document.location.reload();     
            } 
        }); 
    });

	
		
	var modifyBtn = document.getElementById("modifyBtn");
	modifyBtn.onclick =() => {
		location.href = "modify"
	}
	
</script>
</html> 