* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
}

li, ul {
  list-style: none;
}

#container {
  width: 90%;
  margin: 0 auto;
}

.topArea {
  overflow: hidden;
}

.titleArea {
  overflow: hidden;
  border-bottom: 1px solid black;
  height: 100px;
  line-height: 100px;
}

.titleLeft {
  float: left;
  width: 30%;
  border-right: 1px solid black;
}

.titleRight {
  float: right;
  width: 70%;
}

.titleRight input {
  width: 60%;
  height: 40px;
  font-size: 20px;
}

.categoryArea {
	overflow: hidden;
	border-bottom: 1px solid black;
	height: 150px;
	line-height: 150px;
}

.categoryLeft {
	float: left;
	width: 30%;
	border-right: 1px solid black;
}

.imageArea {
  overflow: hidden;
  border-bottom: 1px solid black;
  height: 200px;
  line-height: 200px;
}

.imageLeft {
  float: left;
  width: 30%;
  border-right: 1px solid black;
}

.imageRight {
  float: right;
  width: 70%;
}

.imageRight img {
  width: 100px;
  height: 80px;
}

.infoArea {
  border-bottom: 1px solid black;
  
  padding: 10px 0;
}

.infoTable {
  width: 100%;
}


.infoTable tr td {
  width: 33%;
}

.infoTable tr td input {
  width: 100%;
}

.descriptionArea {
  overflow: hidden;
  height: 200px;
  line-height: 200px;
  border-bottom: 1px solid black;
}

.descriptionLeft {
  float: left;
  width: 30%;
  border-right: 1px solid black;
}

.descriptionRight {
  float: right;
  width: 70%;
  padding-left: 30px;
}

.descriptionRight input {
  width: 80%;
  border: none;
}

.lowArea {
	margin-top: 20px;
}

.btn {
	 background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.categoryListWrap {
    height: 100%;
}
.categoryListWrap .categoryList {
    box-sizing: border-box;
    float: left;
    overflow: auto;
    overflow-x: none;
    width: 20%;
    height: 100%;
    padding: 7px  0;
}
.categoryListWrap .categoryList > li {
    padding: 0px;
}
.categoryListWrap .categoryList a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 26px;
    padding: 0 20px;
    line-height: 26px;
    font-size: 13px;
    color: #000;
}
.categoryListWrap .categoryList .on a {
    background: #1db09e;
    color: #fff;
}