<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pageNation(pageVO)">
	<head>
		<style>
			.page ul li {
				display: inline;
			}
		</style>
	</head>
	
	<div class="page">
		<ul>
			<li><a th:href="@{adminMain(page=1)}" th:text="'<<'"></a></li>
			
			<li><a th:href="@{adminMain(page=${pagevo.start-1})}" th:text="'<'"></a></li>
			
			<th:block th:each="page : ${pagevo.pageList}">
				<li><a th:href="@{adminMain(page=${page})}">[[${page}]]</a></li>
			</th:block>
			
			<li><a th:href="@{adminMain(page=${pagevo.end+1})}" th:text="'>'"></a></ul>
			
			<li><a th:href="@{adminMain(page=${pagevo.realEnd})}" th:text="'>>'"></a></li>
			
		</ul>
	</div>
	
	
	
</th:block>